/* alternate box-model, sizes, font & images */

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    background-color: lightgray;
    overflow-y: auto;

    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.8rem, 1vw + 0.5rem, 1.2rem);
}

img{
    max-width: 100%;
}

/* page content */

.page {
    margin-right: 15%;
    margin-left: 15%;
    padding: 5%;
    min-height: 100vh;
    background-color: white;

    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
}

/* tip box */

.tip {
    border-left: 4px solid #0077cc;
    padding-left: 1em;
    margin-top: 1em;
    background-color: #f0f8ff;
    font-size: 0.95em;
    line-height: 1.5;
}

/* enumerated nested lists system (max of 2 levels supported) */

ol li {
    display: block;
}

ol>li {
    counter-increment: section;
}

ol>li::before {
    content: counter(section) ". ";
    font-weight: bold;
}

ol>li>ol {
    counter-reset: subsection;
}

ol>li>ol>li {
    counter-increment: subsection;
}

ol>li>ol>li::before {
    content: counter(section) "." counter(subsection) " ";
    margin-inline-end: 0.2em;
}

/* responsivity */

@media screen and (max-width: 425px) {
    .page {
        margin-left: 0px;
        margin-right: 0px;
    }
}